body {
  background: -webkit-linear-gradient(to left, #ff4b1f, #1fddff);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ff4b1f, #1fddff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#molecule {
  font-family: Montserrat;
  font-size: 18px;
  color: black;
  width: 125px;
}

#submit {}

#response {
  font-size: 24px;
  color: #111111;
}

#lower {
  padding-top: 100px;
}

#title {
  color: black;
  font-family: Montserrat;
  font-size: 51.2px;
}

#instructions{
  word-wrap: break-word; 
  width: 300px; 
  font-family: Montserrat; 
  font-size: 17px;
  color: black;
}

.form-group {}

.btn-primary {}